/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
article, aside, figure, footer, header, nav, section { display: block }
body                    { font: 13px sans-serif; *font-size: small; *font: x-small; line-height: 1.22 }
table                   { font-size: inherit; font: 100% }
select, input, textarea { font: 99% sans-serif }
pre, code, kbd, samp    { font-family: monospace, sans-serif }

h1, h2 { font-weight: bold }
html  { -webkit-font-smoothing: antialiased }
a:hover, a:active, a { outline: none }
a:link            { -webkit-tap-highlight-color: #FF5E99 }
::-moz-selection{ background: #F400BF; color: #FFF; text-shadow: none }
::selection { background: #CCCCCC; color: #FFF; text-shadow: none }
.ie7 img    { -ms-interpolation-mode: bicubic }
ul { list-style-type: none; list-style-position: inside }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }
/* End reset */

a       { cursor: pointer; font-weight: 700; text-decoration: none; color: #2A4AEE }
body    { height: 100%; width: 100%; overflow: hidden; margin: 0 auto; background: url(/img/background.png) no-repeat top left; color: #000; font-family: 'mostra-nuova-1', 'Helvetica Neue', 'Helvetica'; font-weight: 400 }
#city,
#rain,
#cloud1,
#cloud2,
#cloud3   { position: absolute; top: 0; right: 0; bottom: 0; left: 0 }
#city     { background: url(/img/city.png) no-repeat top left; z-index: 4 }
#cloud1   { background: url(/img/cloud1.png) no-repeat top left; z-index: 1; -webkit-animation-name: cloud1; -webkit-animation-duration: 400s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear }
#cloud2   { background: url(/img/cloud2.png) no-repeat top left; z-index: 2; -webkit-animation-name: cloud2 }
#cloud3   { background: url(/img/cloud3.png) no-repeat top left; z-index: 3; -webkit-animation-name: cloud3; -webkit-animation-duration: 260s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear }
#rain     { z-index: 5 }
footer,
#controls { position: fixed; bottom: 10px; padding: 0.5em; background: #FFF; border: 1px solid #000; z-index: 11 }
#controls { right: 10px }
#controls input { display: block; border: 1px solid #CCC; width: 10em; font-family: inherit }
footer  { left: 10px }

@-webkit-keyframes cloud1 {
  0%    { -webkit-transform: translate3d(-700px, 0, 0) }
  100%  { -webkit-transform: translate3d(1300px, 0, 0) }
}

@-webkit-keyframes cloud3 {
  0%    { -webkit-transform: translate3d(-850px, 0, 0) }
  100%  { -webkit-transform: translate3d(1300px, 0, 0) }
}

